<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tariff</title>
</head>
<body>
<form class="form-signin" method="post" action="/admin/tariffs/add">
  <h4 class="form-signin-heading">Create new Tariff</h4>
  <p>
    <label for="comPer">Commission percent</label>
    <input type="text" id="comPer" name="comPer">
  </p>

  <p>
    <label for="carRent">Car Rent</label>
    <input type="text" id="carRent" name="carRent">
  </p>

  <p>
    <label for="aggRent">Aggregate Rent</label>
    <input type="text" id="aggRent" name="aggRent">
  </p>

  <button  type="submit">Add Tariff</button>
</form>
</body>
</html>