<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>
<form class="form-signin" method="post" action="/admin/cars/add">
  <h4 class="form-signin-heading">Add company car</h4>
  <p>
    <label for="model">Model</label>
    <input type="text" id="model" name="model">
  </p>

  <p>
    <label for="regDate">Date of registration</label>
    <input type="date" id="regDate" name="regDate">
  </p>

  <p>
    <label for="mileage">Mileage</label>
    <input type="text" id="mileage" name="mileage">
  </p>

  <p>
    <label for="vin">VIN</label>
    <input type="text" id="vin" name="vin">
  </p>

  <button  type="submit">Add car</button>
</form>
</body>
</html>