<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditData</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/user/account/edit/person">
        <h4 class="form-signin-heading">Update</h4>
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" th:value="${user.getFirstName()}">
        </p>

        <p>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" th:value="${user.getLastName()}">
        </p>

        <p>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" th:value="${user.getEmail()}">
        </p>

        <p>
            <label for="bankCard">Bank card number</label>
            <input type="text" id="bankCard" name="bankCard" th:value="${user.getCard()}">
        </p>

        <button  type="submit">Update</button>
    </form>

    <form class="form-signin" method="post" action="/user/account/edit/person/pass">
        <h4 class="form-signin-heading">Update Password</h4>
        <p>
            <label for="oldPass">Enter old password</label>
            <input type="password" id="oldPass" name="oldPass">
        </p>

        <p>
            <label for="newPass">Enter new password</label>
            <input type="password" id="newPass" name="newPass">
        </p>

        <p>
            <label for="repeatPass">Repeat new password</label>
            <input type="password" id="repeatPass" name="repeatPass">
        </p>
        <button  type="submit">Update</button>
    </form>
</div>
</body>
</html>