<!DOCTYPE html>

<!--xmlns:th="http://www.thymeleaf.org"-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
    <span> name : </span>
    <span th:text="${user.getFirstName()}"/>
    <span> </span>
    <span th:text="${user.getLastName()}"/>

    <br>
    <span> email : </span>
    <span th:text="${user.getEmail()}"/>

    <br>
    <span> car : </span>
    <span th:text="${car.getModel()}"/>

    <br>
    <span> tariff : </span>
    <span th:text="${tariff.getId()}"/>

    <form action="/auth/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>