<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
</head>
<body>
  <div>
    <p>
      <span>Name: </span><span th:text="${user.getFirstName()}"/>
      <span> </span>
      <span th:text="${user.getLastName()}"/>
      <br>
      <span>Email: </span><span th:text="${user.getEmail()}"/>
      <br>
      <span>Card Number: </span><span th:text="${user.getCard()}"/>
      <br>
      <span>Car vin: </span><span th:text="${user.getCar().getVin()}"/>
      <br>
      <span>Earned: </span><span th:text="${user.getEarned()}"/>
      <br>
      <span>Status: </span><span th:text="${user.getStatus().name()}"/>
      <br>
    <form th:action="@{/admin/user/{id}/earned(id = ${user.getId()})}" th:method="post">
      <label for="earned">Add earned</label>
      <input type="text" id="earned" name="earned">
      <button type="submit">Add</button>
    </form>
    </p>
  </div>
</body>
</html>