<!DOCTYPE html>

<!--xmlns:th="http://www.thymeleaf.org"-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
    <span> name : </span>
    <span th:text="${user.getFirstName()}"/>
    <span> </span>
    <span th:text="${user.getLastName()}"/>

    <br>
    <span> email : </span>
    <span th:text="${user.getEmail()}"/>

    <br>
    <span> tariff : </span>
    <span th:text="${tariff.getId()}"/>

    <br>
    <span> car : </span>
    <span th:text="${car.getModel()}"/>

    <br>
    <br>
<!--    <a th:href="@{/user/account/edit/person}">Edit person data</a>-->
    <form action="/user/account/edit/person" method="GET">
        <button type="submit">Edit Personal Data</button>
    </form>

    <form action="/user/account/edit/tariff" method="GET">
        <button type="submit">Edit Tariff</button>
    </form>

    <form action="/user/account/edit/car" method="GET">
        <button type="submit">Edit Car</button>
    </form>

    <br>
    <form action="/" method="GET">
        <button type="submit">Logout</button>
    </form>
</body>
</html>